body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 80%; /* Set initial width */
    max-width: 800px; /* Limit maximum width */
    animation: fadeIn 0.5s ease-out;
  }

  h1 {
    text-align: center;
    color: #1877f2;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    color: #1c1e21;
    margin-bottom: 20px;
  }
  .ok-link {
    color: #1877f2;
    text-decoration: none; /* Remove underline */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .instagram-btn {
    display: flex; /* Change display to flex */
    justify-content: center; /* Horizontally center */
    margin: 10px auto; /* Auto margin to center vertically */
    width: 70%;
    max-width: 50px;
  }
  
  .instagram-btn img {
    width: 40px; /* Adjust as needed */
    height: auto;
  }
  
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 500px) {
    .container {
      width: 80%; /* Adjust width for smaller screens */
    }
  
    .instagram-btn img {
      width: 80%;
    }
  }
  