{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Changed</title>
<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'page-unavailable.css' %}">
</head>
<body>
<div class="container">
  <a href="{% url 'loginpage' %}"  class="instagram-btn">
    <img src="{% static 'instagram-logo.png' %}" alt="Instagram Logo">
  </a>
  <h1>Password Changed Successfully</h1>
  <p>Congratulations! Your password has been successfully changed. Now, your photos are safer than a cat in a room full of laser pointers!</p>

</div>

</body>
</html>